
.htwo{
    display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #f7f7f7;
    padding: 75px 0 35px 0;
	    height: auto;
    overflow: hidden;
}
.htwo_main{
    width: 1180px;
	margin:0 auto;
}
.htwo-center{
   box-sizing: border-box;
  font-size: 30px;
    text-align: center;
    height: 60px;
    color: #e23c41;
    background: url(http://www.maoyanmedia.com/static/image/van_tit.png) center bottom no-repeat;
	margin-bottom: 115px;
}
.htwo-row{margin-left: -20px;
    margin-right: -20px;}
.htwo-col {
    width: 33.33333%;
	box-sizing: border-box;

	    position: relative;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;

	float: left;
}

.htwo-col .single-goal {
    position: relative;
    background: #fff;
    padding: 85px 30px 45px 30px;
    border-radius: 5px;
    margin-bottom: 85px;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.text-center {
    text-align: center;
}
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.single-goal .img-icon {
    border: 5px solid #fff;
    position: absolute;
    top: -55px;
    left: 50%;
    margin-left: -55px;
    z-index: 1;
}
.round-border {
    border-radius: 50%;
}

.single-goal h5 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
	color: #ff435b;
}
.single-goal p{font-size:16px;
margin-bottom:10px;
line-height:25px;
color: #6a6a6a;}

.single-goal .img-icon:before {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.single-goal:hover .img-icon:before{border-color: #ff0033;
    border-style: solid;}

.single-goal:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.single-goal:hover:before{
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

/**/


.hthr{
box-sizing: border-box;
width:100%;
height:auto;
overflow:hidden;
padding-top: 70px;
    padding-bottom: 30px;
}
.hthr_main{
    width: 1180px;
	margin:0 auto;
}
.hthr-title-one{
    box-sizing: border-box;
  font-size: 30px;
    text-align: center;
    height: 60px;
    color: #e23c41;
    background: url(http://www.maoyanmedia.com/static/image/van_tit.png) center bottom no-repeat;
}
.hthr-row{
    margin-left: -20px;
    margin-right: -20px;
	padding-top:50px;
}

.hthr-col {
    width: 33.33333%;
	box-sizing: border-box;

	    position: relative;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;

	float: left;
}

.single-service {
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 40px 30px 35px 105px;
    position: relative;
    margin-bottom: 30px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tran4s{
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.single-service img {
    position: absolute;
    top: 43px;
    left: 35px;
}
.single-service img {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

	    max-width: 100%;
    display: block;
	vertical-align: middle;
	    border: 0;
}
.single-service h2 {
    font-size: 45px;
    font-weight: 900;
    color: #f6f6f6;
    position: absolute;
    left: 35px;
    bottom: 40px;
	margin-top: 20px;
    margin-bottom: 10px;
	line-height: 1.1;
}
.single-service h5{
color: #000;
    font-family: "Montserrat", arial, sans-serif;
    font-weight: 700;
	font-size: 14px;
	margin-top: 10px;
    margin-bottom: 10px;
}
.single-service h5 a {
    font-size: 22px;
    color: #ff0033;
    font-weight: 500;
    display: block;
    margin-bottom: 13px;
	text-decoration: none;
}
.single-service h5 a:hover, .single-service h5 a:focus, .single-service h5 a:visited {
    text-decoration: none;
    outline: none;
	color: #050505;
}
.single-service p{font-size:16px;line-height:25px;color: #6a6a6a;}

.single-service:hover img {
    transform: scale(1.1);
}

.seo-theme .our-service .single-service img {
    position: absolute;
    top: 43px;
    left: 35px;
}


/***/

.hfour{width:100%;height:auto;overflow:hidden;padding:50px 0px;}
.hfour_main{width: 1180px;
	margin:0 auto;}

.hfour-row{
    margin-left: -20px;
    margin-right: -20px;
	padding-top:50px;
}
.hfour-title{
   box-sizing: border-box;
  font-size: 30px;
    text-align: center;
    height: 60px;
    color: #e23c41;
    background: url(http://www.maoyanmedia.com/static/image/van_tit.png) center bottom no-repeat;
}
.hfour-col {
    width: 25%;
	box-sizing: border-box;

	    position: relative;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;

	float: left;
}
.fh5co-feature, .fh5co-figure {
    display: block;
    color: #444;
    float: left;
    width: 100%;
    text-align: center;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 40px 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 1.5em;

	    text-decoration: none;
    outline: none;
}

.fh5co-feature:hover, .fh5co-feature.active, .fh5co-figure:hover, .fh5co-figure.active {
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    margin-top: -10px;
	text-decoration: none;
    outline: none;
}

.hfour-col span{
}

.hfour-col span i{width:80px;height:80px;display: block;
    margin: 0 auto;}
.hfour-col span .sf1{
  background: url(http://www.maoyanmedia.com/static/image/x1.png) center center no-repeat;
}
.hfour-col span .sf2{
  background: url(http://www.maoyanmedia.com/static/image/x2.png) center center no-repeat;
}
.hfour-col span .sf3{
  background: url(http://www.maoyanmedia.com/static/image/x3.png) center center no-repeat;
}
.hfour-col span .sf4{
  background: url(http://www.maoyanmedia.com/static/image/x4.png) center center no-repeat;
}

.fh5co-feature:hover .sf1{
  background: url(http://www.maoyanmedia.com/static/image/x1_hover.png) center center no-repeat;
}
.fh5co-feature:hover .sf2{
  background: url(http://www.maoyanmedia.com/static/image/x2_hover.png) center center no-repeat;
}
.fh5co-feature:hover .sf3{
  background: url(http://www.maoyanmedia.com/static/image/x3_hover.png) center center no-repeat;
}
.fh5co-feature:hover .sf4{
  background: url(http://www.maoyanmedia.com/static/image/x4_hover.png) center center no-repeat;
}

.icon-energy:before {
    content: "\e020";
}

.fh5co-feature h3{font-size:20px;padding:20px 0px;font-weight: bold;}
.fh5co-feature:hover h3,.fh5co-feature:hover p{color: #444;}